<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZMotionHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ZMotionHelper.Properties.Settings>
            <setting name="EcatInitPath" serializeAs="String">
                <value>ECAT_INIT.bas</value>
            </setting>
            <setting name="MotionCfg" serializeAs="String">
                <value>ZMotionCfg.ini</value>
            </setting>
        </ZMotionHelper.Properties.Settings>
    </applicationSettings>
</configuration>