<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinalTestMachine.Properties.Io_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Io_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_AddDIsUpDown_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_PipeUpDown_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_Light_5_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_Light_4_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_Light_3_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_Light_2_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_Light_1_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_AddDisUpDown_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_TurnSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_PlaneSourceLiftSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_YH.Properties.Aix_CollimatorLiftSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_IMI.Properties.Io_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_IMI.Properties.CameraSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WpfMN200_IMI.Properties.MN200_DemoAix_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinalTestMachine.Properties.Io_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WpfMN200_IMI.Properties.UserSettings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WpfMN200_IMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <FinalTestMachine.Properties.Io_Settings>
            <setting name="IO_LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IO_1_DevNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IO_2_DevNo" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IO_3_DevNo" serializeAs="String">
                <value>3</value>
            </setting>
        </FinalTestMachine.Properties.Io_Settings>
        <WpfMN200_YH.Properties.Io_Settings>
            <setting name="IO_LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IO_1_DevNo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IO_2_DevNo" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IO_3_DevNo" serializeAs="String">
                <value>1</value>
            </setting>
        </WpfMN200_YH.Properties.Io_Settings>
        <WpfMN200_YH.Properties.Aix_AddDIsUpDown_Settings>
            <setting name="Name" serializeAs="String">
                <value>增距镜升降电机</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_AddDIsUpDown_Settings>
        <WpfMN200_YH.Properties.Aix_PipeUpDown_Settings>
            <setting name="Name" serializeAs="String">
                <value>工位二光管升降电机</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_PipeUpDown_Settings>
        <WpfMN200_YH.Properties.Aix_Light_5_Settings>
            <setting name="Name" serializeAs="String">
                <value>光管5</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>100000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_Light_5_Settings>
        <WpfMN200_YH.Properties.Aix_Light_4_Settings>
            <setting name="Name" serializeAs="String">
                <value>光管4</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>100000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_Light_4_Settings>
        <WpfMN200_YH.Properties.Aix_Light_3_Settings>
            <setting name="Name" serializeAs="String">
                <value>光管3</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>100000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_Light_3_Settings>
        <WpfMN200_YH.Properties.Aix_Light_2_Settings>
            <setting name="Name" serializeAs="String">
                <value>光管2</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_Light_2_Settings>
        <WpfMN200_YH.Properties.Aix_Light_1_Settings>
            <setting name="Name" serializeAs="String">
                <value>光管1</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>100000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_Light_1_Settings>
        <WpfMN200_YH.Properties.Aix_AddDisUpDown_Settings>
            <setting name="Name" serializeAs="String">
                <value>增距镜升降电机</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>POSITIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_AddDisUpDown_Settings>
        <WpfMN200_YH.Properties.Aix_TurnSettings>
            <setting name="Name" serializeAs="String">
                <value>旋转主轴</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>360000</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>360000</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_ORG_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_TurnSettings>
        <WpfMN200_YH.Properties.Aix_PlaneSourceLiftSettings>
            <setting name="Name" serializeAs="String">
                <value>平面光源电机</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_PlaneSourceLiftSettings>
        <WpfMN200_YH.Properties.Aix_CollimatorLiftSettings>
            <setting name="Name" serializeAs="String">
                <value>光管升降电机</value>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_ORG_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_YH.Properties.Aix_CollimatorLiftSettings>
        <WpfMN200_IMI.Properties.Io_Settings>
            <setting name="IO_LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IO_1_DevNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IO_2_DevNo" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IO_3_DevNo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IO_4_DevNo" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IO_5_DevNo" serializeAs="String">
                <value>5</value>
            </setting>
        </WpfMN200_IMI.Properties.Io_Settings>
        
            
      
        <WpfMN200_IMI.Properties.CameraSetting>
            <setting name="PixUnitIsPix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cameraPix" serializeAs="String">
                <value>1</value>
            </setting>
        </WpfMN200_IMI.Properties.CameraSetting>
        <WpfMN200_IMI.Properties.MN200_DemoAix_Settings>
            <setting name="Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="LineNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DevNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="svonLogic" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="isCheckINP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRegister" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PPU_helicalPitch" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PPU_pulsRound_CMD" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PPU_pulsRound_ENC" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="HomeMode" serializeAs="String">
                <value>HOME_MODE_ORG_EL</value>
            </setting>
            <setting name="HomeDir" serializeAs="String">
                <value>NEGATIVE</value>
            </setting>
            <setting name="HomeLowSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SafeMaxSpeed_puls" serializeAs="String">
                <value>500000</value>
            </setting>
        </WpfMN200_IMI.Properties.MN200_DemoAix_Settings>
    </applicationSettings>
    <userSettings>
        <FinalTestMachine.Properties.Io_Settings>
            <setting name="IO_4_DevNo" serializeAs="String">
                <value>4</value>
            </setting>
        </FinalTestMachine.Properties.Io_Settings>
        <WpfMN200_IMI.Properties.UserSettings1>
            <setting name="NoCheckGlueHaveNum" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfMN200_IMI.Properties.UserSettings1>
        <WpfMN200_IMI.Properties.Settings>
            <setting name="NoCheckGlueHaveNum" serializeAs="String">
                <value>0</value>
            </setting>
        </WpfMN200_IMI.Properties.Settings>
    </userSettings>
</configuration>
